# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
.venv/
venv/

# Flask instance folder (contains config like secret keys)
instance/

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Packaging and build
dist/
build/
*.egg-info/
.idea/

# VSCode settings
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# Frontend build output
frontend/build/
frontend/node_modules/

checkpoints/
app/static/
data/input/

kaggle.json

test.py